body {
  margin: 0;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #484848;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td:not(:last-child) {
  border-right: 1px solid #e3e3e3;
}
tbody tr {
  height: 72px;
}
tbody tr td:first-child {
  font-size: 16px;
  line-height: 16px;
}
tbody td {
  font-size: 16px;
  line-height: 28px;
  color: #484848;
}
tbody tr:nth-of-type(odd) {
  background: #f2f2f2;
}
tbody tr:nth-of-type(even) {
  background: #e3e3e3;
}
.price-list {
  border-right: 2px solid #e3e3e3;
}
.table-wrapper {
  margin-top: 22px;
  background-color: #fafafa;
  width: 1143px;
  min-height: 684px;
  margin-left: auto;
  margin-right: auto;
}
.price-list {
  text-align: left;
  font-weight: 700;
  font-size: 60px;
  line-height: 28px;
  color: #484848;
}
.price-list td::after {
  content: "Per Month";
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
  margin-left: -30px;
  line-height: 28px;
  align-items: center;
  color: #484848;
}
.price-list > td {
  padding: 26px 0 13px 33px;
}
.coints-price {
  display: inline-block;
  vertical-align: text-top;
  font-size: 24px;
  line-height: 28px;
}
.pricing-plan-style {
  display: block;
  font-size: 30px;
  line-height: 28px;
}

.program-kind {
  width: 284px;
  height: 73px;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.standart {
  background-color: #89c331;
}
.ultimate {
  background-color: #f04a56;
  font-size: 30px;
  line-height: 28px;
}
.premium {
  background-color: #20807c;
}
.table-links-btn {
  margin-top: 29px;
  margin-bottom: 27px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 195px;
  min-height: 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.table-list-items td:nth-child(1) {
  background: #dddddd;
}
.table-list-items td:nth-of-type(even) {
  background: #eeeeee;
}
.table-list-items td:nth-child(3) {
  background: #f4f4f4;
}
.contact-us {
  background: #484848;
}
.green-btn {
  background-color: #89c331;
}
.purple-btn {
  background-color: #f04a56;
}
.blue-btn {
  background-color: #20807c;
}
.program-conditions-icon {
  display: inline-block;
  vertical-align: bottom;
}
