th,
td:not(:last-child) {
  border-right: 1px solid black;
}
tbody td {
  color: black;
}
tbody tr:nth-of-type(odd) {
  background: grey;
}
tbody tr:nth-of-type(even) {
  background: grey;
}
.price-list {
  border-right: 2px solid black;
}
.table-wrapper {
  background-color: grey;
}
.price-list {
  color: #484848;
}
.price-list td::after {
  color: #484848;
}

.program-kind {
  color: grey;
}
.standart {
  background-color: black;
}
.ultimate {
  background-color: black;
}
.premium {
  background-color: black;
}
.table-links-btn {
  color: grey;
}
.table-list-items td:nth-child(1) {
  background: grey;
}
.table-list-items td:nth-of-type(even) {
  background: grey;
}
.table-list-items td:nth-child(3) {
  background: grey;
}
.contact-us {
  background: black;
}
.green-btn {
  background-color: black;
}
.purple-btn {
  background-color: black;
}
.blue-btn {
  background-color: black;
}
.program-conditions-icon{
    background-color: black;
}